[run]
include =
 $LOC/lib/python3.6/site-packages/radical/pilot/agent/launch_method/*.py
 $LOC/lib/python3.6/site-packages/radical/pilot/agent/resource_manager/*.py
 $LOC/lib/python3.6/site-packages/radical/pilot/agent/scheduler/*.py
 $LOC/lib/python3.6/site-packages/radical/pilot/states.py

