[run]
include =
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/aprun.py
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/fork.py
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/mpirun.py
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/yarn.py
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/spark.py
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/orte.py
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/base.py
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/ibrun.py
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/ssh.py
 $LOC/lib/python2.7/site-packages/radical/pilot/agent/lm/rsh.py