
language: python
python:   "3.5"
sudo:     disabled
os:       linux

git:
  depth: 1

env:
  global:
    - CODECOV_TOKEN="c7e0d993-d31a-4d39-8ffa-07c30ea73e48"
    - COVERAGE=false
    - PYTEST="coverage run -m pytest -ra --timeout=600 -vvv --showlocals"
    - RADICAL_PILOT_DBURL=mongodb://rct:rct_test@one.radical-project.org/rct_test
    - RADICAL_PILOT_TEST_DBNAME=rct_test

  matrix:
    - MAIN_CMD="$PYTEST tests/" COVERAGE=true
    - MAIN_CMD="ru-runcheck.sh flake8 diff"
    - MAIN_CMD="ru-runcheck.sh pylint diff"
    - MAIN_CMD="ru-runcheck.sh flake8 tests/ bin/ examples/"
    - MAIN_CMD="ru-runcheck.sh pylint tests/ bin/ examples/"

before_install:
  - uname -a
  - ulimit -a
  - python -V
  - ssh-keygen -t rsa -N '' -f ~/.ssh/id_rsa
  - cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
  - echo "Host localhost" >> /home/travis/.ssh/config
  - echo "  StrictHostKeyChecking no" >> /home/travis/.ssh/config
  - chmod g-rw,o-rw /home/travis/.ssh/*
  - ssh localhost hostname
  - ssh localhost uname -a

# command to install dependencies
install:
  - pip install .
  - pip install coverage
  - pip install flake8
  - pip install flake8-per-file-ignores
  - pip install pycodestyle
  - pip install pylint
  - pip install codecov
  - pip install pytest
  - pip install pytest-timeout

before_script:
  - LOC=/home/travis/virtualenv/python3.5  # Location where VE is created on travis
# - sed -i 's|VENV|'"$LOC"'|g' .coveragerc  # Update source in coveragerc
# - cat .coveragerc

script:
  - echo $MAIN_CMD
  - eval $MAIN_CMD

after_success:
  - |
    if [[ $COVERAGE == 'true' ]]; then \
      coverage combine; \
      coverage xml; \
      coverage report; \
      curl -s https://codecov.io/bash | bash
    fi

notifications:
  email:
    recipients: andre@merzky.net
    on_success: change
    on_failure: always

