name: 'Test Jupyter notebooks'

# **What**: runs all the notebooks of RP documentation
# **Why** : integration testing of RADICAL-Pilot on GNU/Linux localhost;
#           make sure that the documentation works for the current
#           RADICAL-Pilot release
# **Who** : Docs content and testing.

on:
  push:
    branches:
      - 'devel*'
  pull_request:
    branches:
      - 'devel*'

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  test-getting_started:
    uses: ./.github/workflows/run-rp-notebook.yml
    with:
      python-version: 3.12
      requirements-file: 'requirements-docs-ci.txt'
      notebook-name: 'getting_started.ipynb'

  test-tutorials:
    strategy:
      matrix:
        tutorial: [
          # FIXME: *.ipynb
          'configuration.ipynb',
          'debugging.ipynb',
          'describing_tasks.ipynb',
          'multiple_pilots.ipynb',
          'profiling.ipynb',
          'raptor.ipynb',
          'raptor_mpi.ipynb',
          'staging_data.ipynb',
          'submission.ipynb'
        ]
    uses: ./.github/workflows/run-rp-notebook.yml
    with:
      python-version: 3.12
      requirements-file: 'requirements-docs-ci.txt'
      notebook-name: ${{ matrix.tutorial }}
      notebook-path: 'tutorials'

# build-docs: # FIXME...
#   # runs on VM1
#   # sphinx w/o notebooks
#
# commit-notebooks: # FIXME...
#   # runs on VM2
#   # sphinx w/o notebooks

