# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
  push:
    branches: [ devel ]
  pull_request:
    branches: [ devel ]

jobs:

  tests:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo
        ports:
        # will assign a random free host port
        - 27017/tcp
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m venv testenv
        . testenv/bin/activate
        python -m pip install --upgrade pip setuptools
        python -m pip install git+https://github.com/radical-cybertools/radical.utils.git@devel
        python -m pip install git+https://github.com/radical-cybertools/radical.saga.git@devel
        python -m pip install --upgrade .
        python -m pip install psutil
        python -m pip install coverage codecov
        python -m pip install pytest pytest-timeout
    - name: Test with pytest
      env:
        # use localhost for the host here because we are running the job on the VM.
        # If we were running the job on in a container this would be mongodb
        MONGODB_HOST: localhost
        MONGODB_PORT: ${{ job.services.mongodb.ports[27017] }} # get randomly assigned published port
        RADICAL_PILOT_DBURL:  mongodb://localhost:${{ job.services.mongodb.ports[27017] }}/test
        LOC: testenv/lib/python3.6/site-packages
      run: |
        . testenv/bin/activate
        coverage run --include=$LOC/radical/pilot/* -m pytest -ra --timeout=600 -vvv --showlocals tests/unit_tests/ tests/component_tests/
        coverage xml
    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml

  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m venv testenv
        . testenv/bin/activate
        python -m pip install --upgrade pip setuptools
        python -m pip install git+https://github.com/radical-cybertools/radical.utils.git@devel
        python -m pip install git+https://github.com/radical-cybertools/radical.saga.git@devel
        python -m pip install --upgrade .
        python -m pip install flake8 flake8-per-file-ignores
        python -m pip install pytest pylint
    - name: Lint with flake8 and pylint
      run: |
        . testenv/bin/activate
        LOG=`git log -n 1 | grep Merge`
        NEW=`echo $LOG | cut -d ' ' -f2`
        OLD=`echo $LOG | cut -d ' ' -f3`
        DIFF=`git diff  --name-only --diff-filter=db $NEW..$OLD`
        FILTERED=$(for f in $DIFF; do echo $f; done | grep -v '/archive/' | grep -e '\.py$' |  sed "s|^|$PWD/|")
        test -z "$FILTERED" && echo 'nothing to flake8' || flake8 $FILTERED
        test -z "$FILTERED" && echo 'nothing to pylint' || pylint $FILTERED

  analytics:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo
        ports:
        # will assign a random free host port
        - 27017/tcp
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        sudo apt install texlive texlive-fonts-extra texlive-extra-utils dvipng
        sudo apt install texlive-fonts-recommended cm-super texlive-latex-extra
        python -m venv testenv
        . testenv/bin/activate
        python -m pip install --upgrade pip setuptools
        python -m pip install git+https://github.com/radical-cybertools/radical.utils.git@devel
        python -m pip install git+https://github.com/radical-cybertools/radical.saga.git@devel
        python -m pip install --upgrade .
        python -m pip install git+https://github.com/radical-cybertools/radical.analytics.git@devel
    - name: analyze example session
      env:
        MONGODB_HOST: localhost
        MONGODB_PORT: ${{ job.services.mongodb.ports[27017] }} # get randomly assigned published port
        RADICAL_PILOT_DBURL:  mongodb://localhost:${{ job.services.mongodb.ports[27017] }}/test
      run: |
        . testenv/bin/activate
        ./examples/00_getting_started.py local.localhost_test
        SID=$(ls -rt | grep rp.session)
        echo "$SID: $SID"
        radical-analytics-inspect "$SID"
        mkdir artifacts
        ls -la
        cp -R *.png *.stats artifacts
    - name: upload artifacts
      uses: actions/upload-artifact@v2
      with:
          name: artifacts
          path: artifacts

